/* src/Chatroom.css */
.chatroom {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    font-family: sans-serif;
}

.chatroom #conn-status.connected {
    @apply bg-green-400;
}

#messages {
    @apply flex-1 overflow-y-auto flex flex-col gap-0 bg-primary text-primary-foreground w-full;
}

.no-messages {
    @apply text-center bg-primary my-auto;
}

.message {
    @apply py-1 leading-0 px-4 border-b border-secondary/50 first:border-t;
    word-wrap: break-word; /* Ensure long words break */

    &.sent .sender {
        @apply hidden;
    }

    &.joining_msg {
        @apply !bg-chart-2/70 text-accent-foreground;
    }

    &.joining_msg .sender {
        @apply hidden;
    }

    &.received {
        @apply bg-secondary/10;
    }
}

.message .text {
    @apply text-sm mr-2 wrap-normal text-wrap;
}

.message .timestamp {
    font-size: 0.7em;
    margin-left: 5px; /* Small space after text */
    display: inline-block; /* Keep on same line if space allows */
    clear: both; /* Prevent floating issues */
    margin-top: 5px;
}

.message-input {
    @apply bg-primary text-primary-foreground;
    display: flex;
    padding: 10px;
}

.message-input input {
    @apply rounded-(--radius) p-2;
    flex-grow: 1;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.message-input input:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.message-input button {
    @apply rounded-(--radius-sm) border p-2 cursor-pointer hover:bg-secondary/40 bg-secondary text-secondary-foreground not-disabled:hover:text-primary-foreground;
    transition: background-color 0.2s;
}

.message-input button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
